@{
    ViewBag.Title = "Index";
}



<div id="body">
    <section>
        <div class="image">
            <div class="container-image">
                <img src="Content/Images/Image.jpg">
            </div>
        </div>
    </section>
</div>


